/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Styles généraux */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #1C1A1A;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(97.27deg, #F7C23B 0%, #E93D57 51.07%, #A423BA 100%);
    opacity: 0.5;
    filter: blur(250px);
  }
  
  header {
    height: 6.02vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .button-container {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .button-container button {
    width: 40px;
    height: 41px;
    margin-left: 10px;
  }
  
  .welcome-txt {
    position: absolute;
    width: 1720px;
    height: 149px;
    left: 100px;
    top: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 91px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }
  
  nav li.order0 {
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  nav li.order1 {
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  nav li.order2 {
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  
  nav li.order3 {
    flex: none;
    order: 3;
    flex-grow: 0;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .mp-rectangle {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 100px;
    top: 250px;

    /* Dark Grey */
    background: #1C1A1A;
    opacity: 0.5;
    border-radius: 40px;
  }

  .playing-status {
    position: absolute;
    width: 700px;
    height: 100px;
    left: 50px;
    top: 0px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 55px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }

  .music-name {
    position: absolute;
    width: 700px;
    height: 100px;
    left: 150px;
    top: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 55px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }
  
  /* Styles for the progress bar */
  .progress-bar {
    position: relative;
    width: 350px;
    height: 5px;
    left: 75px;
    margin-top: 200px;
    background: #FFFFFF;
    transform: rotate(-0.08deg);
  }
  
  /* Styles for the progress */
  .progress {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(97.27deg, #E93D57 8.3%, #A423BA 100%);
    opacity: 0.5;
    left: 0;
    top: 0;
  }
  
  /* Styles for the progress point */
  .progress-point {
    position: absolute;
    width: 15px;
    height: 15px;
    background: linear-gradient(97.27deg, #E93D57 8.3%, #A423BA 100%);
    border-radius: 50%;
    opacity: 1;
    left: 144px;
    top: -5px;
  }
  
  