body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #1C1A1A;
    font-family: 'Marianne', sans-serif;
    color: #FFFFFF;

    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .logo {
    position: absolute;
    width: 10vw;
    height: 10vw;
    left: 42.5vw;
    top: 6.2vh;
  }
  
  .header-text {
    position: absolute;
    width: 80vw;
    height: 22.2vh;
    z-index: 2;
    left: 10vw;
    top: 16.7vh;
    text-align: ce;
    display: flex;
    align-items: ce;
  }

  .header-text h1 {
    font-weight: 700;
    font-size: 7.5vw;
    line-height: 10.8vh;
  }

  .header-text h2 {
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 3.9vh;
  }
  
  .email-icon {
    position: absolute;
    width: 85vw;
    height: 10vh;
    left: 8vw;
    top: 86.4vh;
  }

  .ss_bg {
    position: absolute;
    width: 39.7vw;
    height: 71vh;
    z-index: 1;
    left: 56.54vw;
    top: -4.5vh;

    filter: blur(10px);

  }

  .smoke {
    position: absolute;
    width: 77.7vw;
    height: 36.2vh;
    z-index: 0;
    left: -60vw;
    top: 46.5vh;
    background: linear-gradient(97.27deg, #F7C23B 0%, #E93D57 51.07%, #A423BA 100%);
    opacity: 0.5;
    filter: blur(100px);
    transform: rotate(-17deg);
  }

  .spaceship {
    position: absolute;
    left: -30%;
    top: 0.03%;
    bottom: 0.02%;
    
    transform: rotate(10deg);
  }
