* {
    font-family: "Marianne", sans-serif;
}
body {
    background-color: #1c1a1a;
    background-image: url(/images/SpaceShip.png);
    backdrop-filter: blur(10px);

    background-position: right;
    color: #ffffff;
    height: 90vh;
}
.logo {
    width: 20vw;
    height: 20vw;
    padding-left: 10%;
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1 {
    font-weight: 700;
    font-size: 3em;
}
.h2 {
    font-weight: 400;
    font-size: 2em;
}
.img-div {
    padding-top: 10vh;
    width: 90vw;
    text-align: center;
}
.center {
    text-align: center;
}
.fb-content {
    padding: 2vh;
}
.form_field {
    color: white;
    font-size: 2em;

    border-radius: 40px;
    padding: 15px;
    border: none;
    width: 40vw;
    color: black;

    outline: none;
    border: none;
}
.button {
    border: none;
    font-weight: 500;
    font-size: 2em;
    color: white;
    border-radius: 40px;
    height: 60px;
    width: 190px;
    margin-top: 2.5px;

    background: linear-gradient(90deg, #e93d57, #a423ba);
}
form {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    justify-content: center;
}
input[type="text"] {
    padding-right: 195px;
}
input[type="button"] {
    margin-left: -195px;
}
input[type="button"]:active {
    opacity: 0.9;
}
input[type="button"]:hover {
    transform: scale(1.05);
}
input[value="Home"] {
    margin-left: 0px;
}
.spacer {
    height: 0;
}
@media screen and (max-width: 900px) {
    form {
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        height: 20vh;
        justify-content: space-around;
        align-items: center;
        background-color: #1c1a1a;
        border-radius: 20px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
    }
    .form_field {
        padding-left: 50px;
        width: 80vw;
    }

    input[type="text"] {
        padding-right: 0px;
    }

    input[type="submit"] {
        margin-left: 0px;
    }
    .img-div {
        padding-top: 10vh;
    }
}
