/* style.css */

body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
}

#boite {
       /* display:inline;
        margin-left: 150px;*/   
        border-top-left-radius: 100px;
        border-top-right-radius: 500px;
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 100px;
}

#button {
        display: flex;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        padding: 5px;
        margin: 10px;
}
#label {
    display:flex;
}

header {
        background-color: #333;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
}

header h1 {
        margin: 0;
}

header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
}

header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
}

header nav ul li {
        margin: 0 10px;
}

header nav ul li a {
        color: white;
        text-decoration: none;
}

main {
        background-color: #f0f0f0; /*Couleur de fond*/
        padding: 20px;
}

#imageAccueil {
        width: 200px; /*Largeur de l'image*/
        height: 200px; /*Hauteur de l'image*/
        display: block; /*Affichage de l'image en tant qu'élement de niveau de bloc*/
        margin: 0 auto; /*Alignement de l'image au centre*/
}

#logo {
        /*logo stylé*/
        width: 200px; /*Largeur de l'image*/
        height: 200px; /*Hauteur de l'image*/
        display: block; /*Affichage de l'image en tant qu'élement de niveau de bloc*/
        margin: 0 auto; /*Alignement de l'image au centre*/
}

