body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #1C1A1A;
    font-family: 'Marianne', sans-serif;
    color: #FFFFFF;

    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .logo {
    position: absolute;
    z-index: 10;
    width: 20vw;
    height: 20vw;
    margin-left: 39.5vw;
  }
  
  .header-text {
    position: absolute;
    width: 80vw;
    height: 22.2vh;
    z-index: 2;
    left: 10vw;
    top: 16.7vh;
    text-align: ce;
    display: flex;
    align-items: ce;
  }

    .header-text h1 {
      font-weight: 700;
      font-size: 7.5vw;
      line-height: 0vh;
    }

    .header-text h2 {
      font-weight: 400;
      font-size: 2.5vw;
      margin-left: 50px;
      line-height: 35vh;
    }
  
  .email-input {
      position: absolute;
      width: 44.3vw;
      height: 9.2vh;
      left: 27.8vw;
      top: 80.4vh;

      margin-left: 5vw;
    }

    .email_box {
      background-image: url("/images/Email_box.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      width: 40vw;
      height: 10vh;
      border: none;
      z-index: 5;
      left: -10%;
      right: 0%;
      top: 0vh;
      
      background: #FFFFFF;
      border-radius: 4.7vw;
    }

    .email_rect-input {
      position: absolute;
      width: 26vw;
      height: 7.4vh;
      left: -1vw;
      top: 1vh;
      z-index: 5;

      font-family: 'Marianne';
      font-style: normal;
      font-weight: 400;
      font-size: 3.5vh;
      line-height: 26vh;
      display: flex;
      align-items: center;

      border: none;
      outline: none;

      /* Grey */
      color: #967C7E;
    }

    .get_notified-button {
      background-image: url("/images/GetNotified.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;

      width: 30vw;
      height: 10vh;
      margin-left: 25vw;
      z-index: 10;
      border: none;
      background-color: transparent;
    }

    .get_notified-button:hover {
      transform: scale(1.05);
    }

    .get_notified-button:active {
      transform: scale(0.95);
    }

  .ss_bg {
    position: absolute;
    width: 39.7vw;
    height: 71vh;
    left: 56.54vw;
    top: -4.5vh;

    filter: blur(10px);

  }

  .smoke {
    position: absolute;
    width: 77.7vw;
    height: 36.2vh;
    z-index: 0;
    left: -60vw;
    top: 46.5vh;
    background: linear-gradient(97.27deg, #F7C23B 0%, #E93D57 51.07%, #A423BA 100%);
    opacity: 0.5;
    filter: blur(100px);
    transform: rotate(-17deg);
  }

  .spaceship {
    position: absolute;
    left: -30%;
    top: 0.03%;
    bottom: 0.02%;
    z-index: 1;
    
    transform: rotate(10deg);
  }
