Options -MultiViews
RewriteEngine On

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "same-origin-allow-popups"
    Header set Cross-Origin-Opener-Policy "same-origin; allow-popups; allow-popups-to-escape-sandbox"
</IfModule>

#Rewrite the root URL to the "public" subdirectory
RewriteRule ^$ public/ [L]

#Rewrite URLs to the index.php file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ public/index.php?url=$1 [QSA,L]
