.wrapper{
  min-height: 150%;
}

.column {
  margin-top: 15em;
}

h1 {
  text-align: center;
  font-size: 6vw;
  font-weight: 700;
  color: white;
}

h5 {
  text-align: center;
  font-size: 2vw;
  font-weight: 400;
  color: white;
}