
* {
  box-sizing: border-box;
  transition: all 1.5s cubic-bezier(0.075, 0.8, 0.165, 1);

  --cubic-bezier: cubic-bezier(0.075, 0.8, 0.165, 1);
  --main-gradient: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
  --second-gradient: linear-gradient(
    100deg,
    #f7c23b 0%,
    #e93d57 50%,
    #a423ba 100%
  );
  --black: #1c1a1a;
  --yellow: #f7c23b;
  --red: #e93d57;
  --purple: #a423ba;

  --main-font: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
  text-overflow: clip;
  background: var(--black);
}

/* Wrapper (contains the whole page) --------------------------------------------------------------------------------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 5% 0 5%;
}

.main {
  flex: 100%;
  padding: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.wave-background {
  background-color: transparent;
  overflow: hidden;
  height: 100px;
  width: 100%;
  z-index: -1;
}

.wave-background,
.wave-background::before,
.wave-background::after {
  position: absolute;
  top: 50%;
  width: 225vw;
  height: 225vw;
  background: var(--main-gradient);
  border-radius: 50% 75%;
  animation: spin 25s infinite linear;
  filter: blur(100px);
  z-index: -1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  font-size: 6vw;
  font-weight: 700;
  color: white;
}

h5 {
  text-align: center;
  font-size: 2vw;
  font-weight: 400;
  color: white;
  margin-top: -3vw;
}

