* {
    box-sizing: border-box;
    transition: all 1s cubic-bezier(0.075, 0.8, 0.165, 1);

    --transition: cubic-bezier(0.075, 0.8, 0.165, 1);
    --main-gradient: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    --second-gradient: linear-gradient(100deg, #f7c23b 0%, #e93d57 50%, #a423ba 100%);
    --black: #1c1a1a;
    --yellow: #f7c23b;
    --red: #e93d57;
    --purple: #a423ba;
}

h3 {
    width: clamp(5em, 40vw, 50em);
}

/* Security Card ------------------------------------------------------------------------------------------------------------------------------------ */
.security {
    padding: 2vh clamp(.5em, 2vw, 2em) 2vh clamp(.5em, 2vw, 2em);
}

.card-column {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    gap: 2vh;
    border: var(--black) solid 2px;
}

.card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: clamp(2em, fit-content, 3em);
    gap: .5em;
}

.card-row h4, .card-column h5, .card-column p {
    padding-top: 5px;
}

#security-details {
    width: 75%;
}

#security-img {
    width: 25%;
    align-items: center;
    justify-content: center;

}

.card-column img {
    width: clamp(1em, 15vw, 15em);
    height: clamp(1em, 15vw, 15em);
}

.logs{
    height: clamp(5em, 15vh, 10em);
    margin-top: .5em;
    border-radius: 10px;
    border: white solid 2px;
    overflow-y: auto;
    padding-top: 1%;
}

.log-card {
    background: rgb(255, 255, 255, 0.25);
    border-radius: 5px;
    width: 98%;
    margin-left: 1%;
    padding: 1%;
}
