* {
    box-sizing: border-box;
    transition: all 1.5s cubic-bezier(0.075, 0.8, 0.165, 1);

    --transition: cubic-bezier(0.075, 0.8, 0.165, 1);
    --main-gradient: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    --second-gradient: linear-gradient(100deg, #f7c23b 0%, #e93d57 50%, #a423ba 100%);
    --black: #1c1a1a;
    --yellow: #f7c23b;
    --red: #e93d57;
    --purple: #a423ba;
}

body {
    font-family: "Poppins";
    background-color: var(--black);
    background-image: url("/images/login-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
    backdrop-filter: blur(150px);
    margin: 0px;
    overflow: hidden;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Card body -------------------------------------------------------------------------------------------------------------------- */
.login-card {
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    margin-top: 6vh;

    background: rgb(28, 26, 26, 0.5);
    border-radius: 25px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2em 5em 2em 5em;
    gap: 1vh;
}

/* Card Text -------------------------------------------------------------------------------------------------------------------- */
.login-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.login-text h1 {
    font-size: 2em;
    font-weight: 600;
}

.login-text p {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: -1em;
}

/* Form Components -------------------------------------------------------------------------------------------------------------------- */

.login-field {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.login-field label {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

/* Input field */
.login-field input {
    font-size: 1rem;
    line-height: 2em;
    width: 100%;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
    border: solid 3px;
    border-color: white;
    background: white;
    margin-bottom: 2vh;
}

.login-field input::placeholder {
    font-family: inherit;
    opacity: 0.5;
}

.login-field input:focus {
    padding-left: 40px;
    background: rgba(255, 255, 255, 0.65);
}

.login-field input:focus::placeholder {
    opacity: 0;
}

.login-field input:hover {
    scale: 1.05;
}

.warning-message {
    color: var(--red);
    font-size: 0.85em;
    margin-left: 1.5em;
    margin-top: -1.5em;
    margin-bottom: .5em;
}

.buttons-area {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: right;
    margin-top: 1vh;
    margin-bottom: 1em;
}

.buttons-area .secondary-button {
    margin-right: 1.5rem;
}

/* Responsive ------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
    body {
        background-size: 90% 90%;
        overflow: hidden;
    }
}

@media screen and (max-width: 750px) {

    body {
        background-size: 100% 100%;
    }

    .login-card {
        margin: 5em 5em 2em 5em;
    }

    .login-wrapper {
        margin: 2em 4em 2em 4em;
    }

    .login-text h1 {
        font-size: 1.7em;
    }
    
    .login-text p {
        font-size: .9em;
    }

    .buttons-area {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1em;
        width: 100%;
        margin-top: 3vh;
    }

    .buttons-area .secondary-button, .buttons-area .main-button {
        margin: 0;
        width: 100%;
        scale: 1;
    }

    .buttons-area .secondary-button:hover, .buttons-area .main-button:hover {
        scale: .95;
    }

}

@media screen and (max-width: 500px) {

    .login-card {
        margin: 4em 4em 4em 5em;
    }

    .login-wrapper {
        margin: 2em 3em 2em 3em;
    }

    .login-text h1 {
        font-size: 1.5em;
    }
    
    .login-text p {
        font-size: .8em;
        margin-top: -1em;
    }

    .login-field label {
        font-size: .9rem;
    }

    .login-field input {
        font-size: .95rem;
        line-height: 1.75em;
    }
}

@media screen and (max-width: 400px) {

    .login-card {
        margin: 3em 2em 2em 2em;
    }
    .login-wrapper {
        margin: 2em 2em 2em 2em;
    }

    .login-text h1 {
        font-size: 1.4em;
    }
    
    .login-text p {
        font-size: .7em;
        margin-top: -1em;
    }

    .login-field label {
        font-size: .7rem;
    }

    .login-field input {
        font-size: .9rem;
        line-height: 1.5em;
    }
}
