* {
  box-sizing: border-box;
  transition: all 1.5s cubic-bezier(0.075, 0.8, 0.165, 1);

  --main-gradient: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
  --second-gradient: linear-gradient(
    100deg,
    #f7c23b 0%,
    #e93d57 50%,
    #a423ba 100%
  );
  --black: #1c1a1a;
  --yellow: #f7c23b;
  --red: #e93d57;
  --purple: #a423ba;
}

/* Style the body */
body {
  font-family: "Poppins";
  justify-content: center;
  background-color: var(--black);
  overflow: hidden;
}

.login-background {
  background-image: url("/images/login-background.svg");
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: 20%;
  margin-top: 7.5%;
  z-index: -1;
  filter: blur(200px);
}

.login-card {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: fit-content;
  margin-top: 12.5%;
  margin-left: 30%;

  background-color: var(--black);
  border-radius: 15px;
  opacity: 0.75;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5em;
  gap: 0.5em;
}

.login-text {
  color: white;
  margin-top: -4vh;
}

.login-text h1 {
  font-size: 2.5em;
  text-align: left;
  height: 20%;
}

.login-text p {
  font-size: 1.5em;
  text-align: left;
  height: 5%;
}

.login-field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1rem;
}

.login-field label {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.login-field input {
  font-size: 1rem;
  line-height: 3em;
  max-width: 25vw;
  border-radius: 50px;
  padding-left: 20px;
  outline: none;
  border: solid 3px;
  border-color: white;
  background: white;
}

.login-field input::placeholder {
  font-family: inherit;
  opacity: 0.5;
}

.login-field input:focus {
  padding-left: 40px;
  background: rgba(255, 255, 255, 0.50);

}

/* Switch implementation -------------------------------------------------------------------------------------------------------- */
input[type="checkbox"] + label {
  scale: 0.25;
  margin-left: -3.5vw;
  margin-top: -4vh; 
}

input[type="checkbox"] {
  justify-content: left;

}

input[type="checkbox"]:hover + label {
  scale: 0.3;
}

