* {
    box-sizing: border-box;
    transition: all 1.5s cubic-bezier(0.075, 0.8, 0.165, 1);

    --transition: cubic-bezier(0.075, 0.8, 0.165, 1);
    --main-gradient: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    --second-gradient: linear-gradient(100deg,
            #f7c23b 0%,
            #e93d57 50%,
            #a423ba 100%);
    --blue-gradient: linear-gradient(130deg, #BDEDF9 0.50%, #92E9FE 25%, #3361DA 90%);
    --black: #1c1a1a;
    --yellow: #f7c23b;
    --red: #e93d57;
    --purple: #a423ba;
}

body {
    font-family: "Poppins";
    justify-content: center;
    background-color: var(--black);
    overflow: hidden;
}

/* Card body ---------------------------------------------------------------------------------------------------------------------------------------- */

.wrapper {
    justify-content: center;
    align-items: center;
}

.login-background {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("/images/login-background.svg");

    height: 100vh;
    width: 100vw;
    margin-left: 18%;
    margin-top: 10%;

    z-index: -1;
    filter: blur(200px);
}

.login-card {
    display: flex;
    flex-direction: column;

    height: fit-content;
    max-height: 50vh;
    width: fit-content;

    background: rgb(28, 26, 26, 0.5);
    border-radius: 15px;
    margin-top: 7vh;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5em;
}

/* Header text -------------------------------------------------------------------------------------------------------------------------------------- */
.login-text {
    color: white;
    margin-top: -5vh;
    margin-bottom: 1vh;
    gap: .5em;
}

.login-text h1 {
    font-size: 2.5em;
    text-align: left;
    height: 20%;
}

.login-text p {
    font-size: 1.25em;
    text-align: left;
    height: 2.5vh;
    margin-bottom: -0.5vh;
    margin-left: 0.1em;
    margin-top: 2em;
}

/* Mail ---------------------------------------------------------------------------------------------------------------------------------- */
.login-field {
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.login-field label {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.login-field input {
    font-size: 1rem;
    line-height: 2.5em;
    width: 27em;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
    border: solid 3px;
    border-color: white;
    background: white;
    margin-bottom: 2vh;
}

.login-field input::placeholder {
    font-family: inherit;
    opacity: 0.5;
}

.login-field input:focus {
    padding-left: 40px;
    background: rgba(255, 255, 255, 0.65);
}

.login-field input:focus::placeholder {
    opacity: 0;
}

.login-field input:hover {
    scale: 1.05;
}

.warning-message {
    color: var(--red);
    font-size: 0.85em;
    margin-left: 1.5em;
    margin-top: -1.5em;
    margin-bottom: .5em;
}

.buttons-area {
    display: flex;
    margin-top: 1em;
    margin-bottom: -1em;
    justify-content: right;
}

/* Mail animation --------------------------------------------------------------------------------------------------------------------------------------- */
.email-animation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;

}

/* Responsive --------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
    .login-background {
        margin-left: 0;
        margin-top: 2.5%;
    }

    .login-wrapper {
        margin: 4em;
    }

    .login-text h1 {
        font-size: 1.75em;
    }

    .login-text p {
        font-size: 1em;
    }

    .login-field label {
        font-size: 0.9rem;
    }

    .login-field input {
        font-size: 0.9rem;
        line-height: 2.75em;
    }

    .buttons-area {
        margin-top: 3vh;
        gap: 1.5vw;
    }

    .buttons-area .main-button {
        height: 2.5em;
        width: 6em;
    }

    .buttons-area .secondary-button {
        height: 2.5em;
        width: 9.5em;
    }
}

@media screen and (max-width: 600px) {

    .login-background {
        margin-left: -5vw;
        margin-top: 10vh;
    }

    .login-wrapper {
        margin: 4em;
        margin-left: 2.5em;
        margin-right: 2.5em;
    }

    .login-text h1 {
        font-size: 1.5em;
    }

    .login-text p {
        font-size: .85em;
    }

    .login-field label {
        font-size: 0.85rem;
    }

    .login-field input {
        font-size: 0.8rem;
        line-height: 2.5em;
    }

    .buttons-area {
        display: flex;
        flex-direction: column-reverse;

        margin-top: 1vh;
        justify-content: center;
    }

    .buttons-area .main-button {
        font-size: .75em;
        height: 2.5em;
        width: 100%;
    }

    .buttons-area .secondary-button {
        font-size: .75em;
        height: 2.5em;
        width: 100%;
    }

    .main-button:hover,
    .second-button:hover {
        scale: .95;
    }
}

@media screen and (max-width: 450px) {

    .login-background {
        margin-left: -5vw;
        margin-top: 10em;
    }

    .login-card {
        margin-left: 2em;
        margin-right: 2em;
        width: 90%;
    }

    .login-wrapper {
        margin: 3em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .login-text h1 {
        font-size: 1.25em;
    }

    .login-text p {
        font-size: .75em;
    }

    .login-field label {
        font-size: .75rem;
    }

    .login-field input {
        font-size: 0.75rem;
        line-height: 2em;
        width: 100%;
    }

    .buttons-area {
        margin-top: 2vh;
    }

}