* {
  box-sizing: border-box;
  transition: all 1.5s cubic-bezier(0.075, 0.8, 0.165, 1);

  --transition: cubic-bezier(0.075, 0.8, 0.165, 1);
  --main-gradient: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
  --second-gradient: linear-gradient(100deg,
      #f7c23b 0%,
      #e93d57 50%,
      #a423ba 100%);
  --blue-gradient: linear-gradient(130deg, #BDEDF9 0.50%, #92E9FE 25%, #3361DA 90%);
  --black: #1c1a1a;
  --yellow: #f7c23b;
  --red: #e93d57;
  --purple: #a423ba;
}

body {
  font-family: "Poppins";
  justify-content: center;
  background-color: var(--black);
  overflow: hidden;
}

/* Card body ---------------------------------------------------------------------------------------------------------------------------------------- */

.wrapper {
  justify-content: center;
  align-items: center;
}

.login-background {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("/images/login-background.svg");

  height: 100vh;
  width: 100vw;
  margin-left: 18%;
  margin-top: 10%;

  z-index: -1;
  filter: blur(200px);
}

.login-card {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: fit-content;

  background: rgb(28, 26, 26, 0.5);
  border-radius: 15px;
  margin-top: 7vh;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5em;
}

/* Header text -------------------------------------------------------------------------------------------------------------------------------------- */
.login-text {
  color: white;
  margin-top: -5vh;
  margin-bottom: 1vh;
  gap: .5em;
}

.login-text h1 {
  font-size: 2.5em;
  text-align: left;
  height: 20%;
}

.login-text p {
  font-size: 1.25em;
  text-align: left;
  height: 2.5vh;
  margin-bottom: -0.5vh;
  margin-left: 0.1em;
}

/* Password & Mail ---------------------------------------------------------------------------------------------------------------------------------- */
.login-field {
  display: flex;
  flex-direction: column;
  gap: .5vh;
}

.login-field label {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.login-field input {
  font-size: 1rem;
  line-height: 2.5em;
  max-width: 30rem;
  border-radius: 50px;
  padding-left: 20px;
  outline: none;
  border: solid 3px;
  border-color: white;
  background: white;
  margin-bottom: 2vh;
  width: 25em;
}

.login-field input::placeholder {
  font-family: inherit;
  opacity: 0.5;
}

.login-field input:focus {
  padding-left: 40px;
  background: rgba(255, 255, 255, 0.65);
}

.login-field input:focus::placeholder {
  opacity: 0;
}

.login-field input:hover {
  scale: 1.05;
}

#confirm-password {
  margin-top: -.65em;
}

.warning-message {
  color: var(--red);
  font-size: 0.85em;
  margin-left: 1.5em;
  margin-top: -1.5em;
  margin-bottom: .5em;
}

/* Password strength indicator ----------------------------------------------------------------------------------------------------------------------*/
.strength-indicator{
  margin-top: -2em;
}

meter {
  margin-top: 1.5em;
  margin-left: 1.25em;
  width: 90%;
  height: 1em;
  border-radius: 100px;
  border: none;
  background: rgba(0, 0, 0, 0);
}

meter::-webkit-meter-bar {
  background: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value,
meter[value="2"]::-webkit-meter-optimum-value {
  background: var(--main-gradient);
}

meter[value="3"]::-webkit-meter-optimum-value,
meter[value="4"]::-webkit-meter-optimum-value {
  background: var(--blue-gradient);
}

meter[value="0"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar,
meter[value="2"]::-moz-meter-bar {
  background: var(--main-gradient);
}

meter[value="3"]::-moz-meter-bar,
meter[value="4"]::-moz-meter-bar  {
  background: var(--blue-gradient);
}

p {
  color: white;
  font-size: .85em;
  font-weight: 300;
  margin-left: 2em;
  margin-top: -0.25em;
  margin-bottom: 2em;
}

.feedback {
  color: white;
  font-size: 1em;
  padding: 0 .25em;
  margin-top: 1em;
}

meter::-webkit-meter-optimum-value {
  transition: width .4s ease-out; 
}

/* Buttons ------------------------------------------------------------------------------------------------------------------------------------------ */

.buttons-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  margin-top: 3vh;
  gap: 1vw;
  margin-bottom: -2vh;
  text-align: center;
}

.buttons-area .secondary-button {
  background: white;
  border: none;
  text-align: center;
}

/* Responsive --------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  .login-background {
    margin-left: 0;
    margin-top: 2.5%;
  }

  .login-wrapper {
    margin: 4em;
  }

  .login-text h1 {
    font-size: 1.75em;
  }

  .login-text p {
    font-size: 1em;
  }

  .login-field label {
    font-size: 0.9rem;
  }

  .login-field input {
    font-size: 0.9rem;
    line-height: 2.75em;
  }

  .buttons-area {
    margin-top: 3vh;
    gap: 1.5vw;
  }

  .buttons-area .main-button {
    height: 2.5em;
    width: 6em;
  }

  .buttons-area .secondary-button {
    height: 2.5em;
    width: 9.5em;
  }
}

@media screen and (max-width: 600px) {

  .login-background {
    margin-left: -5vw;
    margin-top: 10vh;
  }

  .login-wrapper {
    margin: 4em;
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .login-text h1 {
    font-size: 1.5em;
  }

  .login-text p {
    font-size: .85em;
  }

  .login-field label {
    font-size: 0.85rem;
  }

  .login-field input {
    font-size: 0.8rem;
    line-height: 2.5em;
  }

  .buttons-area {
    display: flex;
    flex-direction: column-reverse;

    margin-top: 1vh;
    justify-content: center;
  }

  .buttons-area .main-button {
    font-size: .75em;
    height: 2.5em;
    width: 100%;
  }

  .buttons-area .secondary-button {
    font-size: .75em;
    height: 2.5em;
    width: 100%;
  }

  .main-button:hover, .second-button:hover {
    scale: .95;
  }
}

@media screen and (max-width: 450px) {

  .login-background {
    margin-left: -5vw;
    margin-top: 5vh;
  }

  .login-wrapper {
    margin: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .login-text h1 {
    font-size: 1.25em;
  }

  .login-text p {
    font-size: .75em;
  }

  .login-field label {
    font-size: .75rem;
  }

  .login-field input {
    font-size: 0.75rem;
    line-height: 2em;
  }

  .buttons-area {
    margin-top: 2vh;
  }
}