* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(97.27deg, #F7C23B 0%, #E93D57 51.07%, #A423BA 100%);
    opacity: 0.3;
    filter: blur(250px);
    z-index: -1;
}

.welcome-banner,
.dashboard-box {
    position: relative;
    z-index: 1;
}

body {
    text-align: center;
}*

.dashboard-btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

.dashboard-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(56, 56, 56);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease, color 0.2s ease, box-shadow 0.5s ease;
}

.welcome-banner {
    margin-top: 10%;
    text-align: center;
    padding: 20px;
}

.welcome-banner h1 {
    font-size: 32px;
    margin: 0;
}

.dashboard-box {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 60%;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

.dashboard-box:nth-of-type(2) {
    margin-top: 60px;
}

.dashboard-box:last-of-type {
    margin-bottom: 60px;
}

.now-playing {
    margin-bottom: 30px;
    text-align: center;
}

.music-title {
    font-size: 24px;
    margin-top: 10px;
}

.progress-bar {
    background-color: #eee;
    border-radius: 5px;
    height: 10px;
    margin-top: 20px;
}

.dashboard-controls {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.dashboard-controls button {
    margin: 0 10px;
}

.stats-box {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 60%;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

/* Mobile styles */
@media screen and (min-width: 760px) and (max-width: 920px) {
    .welcome-banner {
        margin-top: 20%;
    }

    .now-playing,
    .listening-stats {
        padding: 20px;
    }

    .listening-stats-box {
        margin-top: 7%;
        padding: 5%;
        font-size: 20px;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    button {
        padding: 3%;
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .welcome-banner {
        margin-left: 0;
    }

    .welcome-banner h1 {
        font-size: 30px;
    }

    .dashboard-box {
        width: 90%;
    }

    .now-playing,
    .listening-stats {
        padding: 20px;
    }

    .dashboard-controls {
        flex-wrap: wrap;
    }

    .dashboard-controls button {
        margin: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .welcome-banner {
        margin-top: -2%;
    }

    .dashboard-box {
        margin-top: 5%;
    }

    .now-playing,
    .listening-stats {
        padding: 0;
    }
}

@media only screen and (max-width: 395px) {

    .now-playing,
    .listening-stats {
        padding: 7%;
    }
}

@media only screen and (max-width: 375px) {

    .now-playing,
    .listening-stats {
        padding: 0%;
    }

    .playing-music-box {
        margin-top: -2%;
    }
}

@media screen and (max-width: 360px) {
    .listening-stats-box {
        margin-top: 7%;
        padding: 10%;
    }
}

@media screen and (max-width: 300px) {
    .welcome-banner h1 {
        font-size: 18px;
    }

    .dashboard-box {
        margin-top: 5%;
    }

    .listening-stats {
        font-size: 12px;
    }

    button {
        padding: 5%;
        font-size: 13px;
    }
}