body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}


.content-wrapper {
  position: relative;
  width: 100%;
  height: 94.8%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}


/* 1st bg */
.pink-gradient-bg {
  position: absolute;
  width: 2600px;
  height: 1381px;
  left: -241px;
  top: 0;
  background: linear-gradient(97.27deg, #E93D57 8.3%, #A423BA 100%);
  opacity: 0.3;
  filter: blur(200px);
  z-index: -1;
}

/* 2nd bg */
.adaptive-sound-bg {
  position: absolute;
  width: 1673px;
  height: 812px;
  left: -47px;
  top: 0;
  background: linear-gradient(97.27deg, #F7C23B 0%, #E93D57 51.07%, #A423BA 100%);
  filter: blur(500px);
  border-radius: 29px;
  z-index: -1;
}

/* 3rd bg */
.blue-security-bg {
  position: absolute;
  width: 2984px;
  height: 814px;
  left: 463px;
  top: 0;
  background: linear-gradient(130.2deg, #BDEDF9 0.57%, #92E9FE 20.47%, #3361DA 91.12%);
  opacity: 0.85;
  filter: blur(500px);
  border-radius: 29px;
  z-index: -1;
}


/* animation lors du scroll de la page */
.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.75s ease;
  transition-delay: 0.25s;
}

.animate.visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.25s;
}


/* haut de page */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -2;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  color: white;
}


/* main title */
.intro h1 {
  font-size: 7.5em;
  margin-top: 2.5em;
}

.intro h2 {
  font-size: 2.5rem;
  margin-bottom: 15rem;
  font-weight: 400;
}

/* headphone and text presentation */
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.introducing {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 500px;
  color: white;
  text-align: center;
  font-size: 2rem;
  position: relative;
  z-index: -2;
}

.introducing p {
  margin-top: 15vh;
  font-size: 2.5rem;
}

.introducing h3 {
  margin: 0;
  font-size: 5rem;
}

.pulse-image {
  max-width: 400%;
  height: 20em;
  position: absolute;
  top: 0;
  z-index: 2;
}


/* headphone and text infor */
.pulse-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(60vh - 80px);
}

.pulse-content {
  max-width: 800px;
  text-align: center;
}

.pulse-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
}

.groundbreaking-part {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
  height: calc(125vh - 80px);
}

/* technical details about the goal of the product */
.adaptive-sound {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -20rem;
  height: calc(125vh - 80px);
}

.adaptive-sound-info {
  width: 50%;
  text-align: left;
  margin-top: 10vh;
  margin-bottom: -20vh;
  padding: 2rem;
}

.adaptive-sound-info h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: white;
}

.adaptive-sound-info h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
}

.adaptive-sound-content {
  max-width: 600px;
}

.adaptive-sound-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 1.5rem;
}

.adaptive-sound-image-container {
  width: 50%;
  position: relative;
  margin-top: 30vh;
  margin-left: 5%;
}

.adaptive-sound-image {
  max-width: 100%;
  height: auto;
}

.sound-wave-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200%;
  height: auto;
  z-index: 1;
}

.volume-control-image {
  position: absolute;
  top: 10%;
  right: 50%;
  max-width: 50%;
  height: auto;
  z-index: -1;
}

.adaptive-sound-background {
  position: absolute;
  width: 100%;
  z-index: -2;
}

.adaptive-sound-info-2 {
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin-top: 10rem;
}

.adaptive-sound-info-2 h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.adaptive-sound-info-2 h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
}

.sensor-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
}

.sensor-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  width: 20vw;
  height: 20vw;
}

.sensor-box .sensor-icon {
  max-width: 7vw;
  height: auto;
}

.temp-sensor-icon {
  max-width: 4vw;
  height: auto;
}

.sensor-box p {
  font-size: 150%;
  color: white;
}

/* security part */
.control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -30vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}

.overlay-image {
  position: absolute;
  top: 0;
  right: -350px;
  height: calc(100% + 60px);
  object-fit: cover;
  z-index: 3;
  overflow: hidden;
}

.control-title {
  font-size: 32px;
  color: white;
  z-index: 2;
}

.control-subtitle {
  font-size: 40px;
  font-weight: bold;
  color: white;
  z-index: 2;
}

.control-subtitle {
  margin-bottom: 50px;
}

.control-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-box {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  width: 80%;
  z-index: 2;
}

.control-box-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.control-box p {
  font-size: 20px;
  color: white;
  line-height: 1.5;
}

@media screen and (max-width: 450px) {
  .sensor-box p {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .intro h1 {
    font-size: 4rem;
  }

  .intro h2 {
    font-size: 1.5rem;
  }

  .pulse-image {
    scale: 0.7;
  }

  .introducing p {
    margin-top: 10rem;
    font-size: 2rem;
  }

  .introducing h3 {
    font-size: 4rem;
  }

  .sensor-container {
    display: grid;
    margin-top: 20rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
  }

  .sensor-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    width: 35vw;
    height: 35vw;
  }

  .sensor-box .sensor-icon {
    max-width: 15vw;
    height: auto;
  }

  .temp-sensor-icon {
    max-width: 10vw;
    height: auto;
  }

  .groundbreaking-part {
    margin-top: 0rem;
  }

  .adaptive-sound-info-2 {
    margin-top: 50rem;
    margin-bottom: -30rem;
  }

  .control-section {
    margin-top: -30vh;
  }

  .sensor-box p {
    font-size: 10em;
    color: white;
  }

  .adaptive-sound-info {
    width: 100%;
  }

  .adaptive-sound-info p {
    margin-left: -1rem;
    font-size: 1.5em;
  }

  .control-section {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .overlay-image {
    visibility: hidden;
  }

  .sensor-box p {
    font-size: 120%;
    color: white;
  }

  .adaptive-sound-info {
    width: 130%;
    margin-top: -10rem;
  }

  .adaptive-sound-content p {
    margin-left: -8rem;
  }

  .adaptive-sound-image-container {
    visibility: hidden;
  }

  .adaptive-sound-info-2 {
    margin-top: -2rem;
  }

  .pulse-content {
    margin: 0 3rem 0 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .adaptive-sound-info h1 {
    font-size: 2rem;
    margin-left: -7rem;
  }

  .adaptive-sound-info h2 {
    font-size: 1.5rem;
    margin-left: -5rem;
  }
}

@media screen and (max-width: 1300px) {
  .extra-images {
    visibility: hidden;
  }

  .pulse-content {
    margin-top: 0rem;
  }
}