* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99;
}

@font-face {
  font-family: 'Marianne';
  src: url(assets/fonts/Marianne-Regular.woff2) format('woff2')
}

body {
  background: #1C1A1A;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 10px;
  flex-direction: column;
  padding: 5%;
  text-align: left;
}

/* Buttons set up */
.main-button, .second-button, .button-animated-gradient, .button-animated-gradient2, input + .slider, button, .language-button {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: "Marianne";
  font-style: normal;
  font-weight: 450;
  font-size: 1em;
  text-align: center;
  padding: 0.5em 1.25em;
  border-radius: 100px;
  color: #ffffff;
}

/* Buttons animations on hover */
.main-button:hover, .second-button:hover, .button-animated-gradient:hover, .button-animated-gradient2:hover, .language-button:hover  {
  transition: all 0.5s cubic-bezier(0.075, 0.80, 0.165, 1);
  transform: scale(1.125); 
  cursor: pointer;
}


/* Main Button ------------------------------------------------------------------------------------------------------------------ */
.main-button {
  color: white;
  border: none;
}

  /* gradient 1 */
.main-button.orange-purple{
  background: linear-gradient(100deg, #E93D57 10%, #A423BA 100%);
}

  /* gradient 2 */
.main-button.yellow-orange-purple{
  background: linear-gradient(100deg, #F7C23B 0%, #E93D57 50%, #A423BA 100%);
}

.main-button.orange-purple:hover{
  box-shadow: 0 0 40px -5px #E93D57, 0 0 40px -5px #A423BA;
}

.main-button.yellow-orange-purple:hover{
  box-shadow: 0 0 40px -5px #F7C23B, 0 0 40px -5px #E93D57, 0 0 40px -5px #A423BA;
}


/* Second Button ---------------------------------------------------------------------------------------------------------------- */
.second-button {
  border: 0.2em;
  border-style: solid;
}

  /* gradient 1 */
.second-button.orange {
  border-color: #E93D57;
  color: #E93D57;
}

  /* gradient 2 */
.second-button.purple {
  border-color: #A423BA;
  color: #A423BA;
}

.second-button.orange:hover {
  box-shadow: 0 0 40px -5px #E93D57;
}

.second-button.purple:hover {
  box-shadow: 0 0 40px -5px #A423BA;
}


/* Animated gradient button ----------------------------------------------------------------------------------------------------- */
.button-animated-gradient-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-animated-gradient, .button-animated-gradient2 {
  background: linear-gradient(-45deg, #F7C23B, #E93D57, #3361DA, #92E9FE);
  background-size: 1000%;
  -webkit-animation: anime 12s ease-in-out infinite;
          animation: anime 12s ease-in-out infinite;
  border: none;
}

.button-animated-gradient2 {
  position: absolute;
  z-index: -1;
  filter: blur(35px);
  opacity: 1;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Sending button --------------------------------------------------------------------------------------------------------------- */
button {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: left;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: Marianne;
}

button.learn-more {
  width: 10rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.6s cubic-bezier(0.60, 0, 0.080, 1);
  position: absolute;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(100deg, #E93D57 10%, #A423BA 100%);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 2.5rem;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: left;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}


/* Switch ----------------------------------------------------------------------------------------------------------------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: white;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(100deg, #E93D57 10%, #A423BA 100%);
}

input:hover + .slider {
  box-shadow: 0 0 20px -3px #E93D57;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Three state toggle switch ----------------------------------------------------------------------------------------------------*/
input[type="radio"] {
  display: none;
}

.toggle-container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}


.toggle-container label {
  font-family: Marianne;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 100%;
  cursor: pointer;
  color: #1C1A1A;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="radio"]:checked + label {
  background: linear-gradient(100deg, #E93D57 10%, #A423BA 100%);
  color: white;
}

.toggle-state {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(100deg, #E93D57 10%, #A423BA 100%);
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  transform: translateX(-100%);
}

input[type="radio"]:checked + label {
  background-color: linear-gradient(100deg, #E93D57 10%, #A423BA 100%);
  color: white;
  animation: background-animation 0.5s ease-in-out forwards;
}

@keyframes background-animation {
  from {
    background-color: white;
  }
  to {
    background-color: linear-gradient(100deg, #E93D57 10%, #A423BA 100%);
  }
}

/* Language button --------------------------------------------------------------------------------------------------------------*/
.language-button {
  background-color: white;
  border-radius: 100px;
  color: #E93D57;
  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 6em;
}