@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.075, 0.8, 0.165, 1);
    --transition: cubic-bezier(0.075, 0.8, 0.165, 1);

    --main-gradient: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    --second-gradient: linear-gradient(100deg, #f7c23b 0%, #e93d57 50%, #a423ba 100%);
    --blue-gradient: linear-gradient(130deg, #BDEDF9 0.50%, #92E9FE 25%, #3361DA 90%);

    --black: #1c1a1a;
    --yellow: #f7c23b;
    --red: #e93d57;
    --purple: #a423ba;
    font-family: 'Poppins';
}

.main-button,
.secondary-button,
.third-button,
.language-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;

    font-size: 1em;
    font-weight: 400;

    padding: 8px 20px 7px 20px;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
}

.main-button:hover,
.secondary-button:hover,
.third-button:hover,
.language-button:hover {
    transition: all 0.5s cubic-bezier(0.075, 0.8, 0.165, 1);
    transform: scale(1.1);
}

/* Main Button -------------------------------------------------------------------------------------------------------------------------------------- */
.main-button {
    background: var(--main-gradient);
    color: white;
}

.main-button:hover {
    box-shadow: 0 0 35px -10px #e93d57, 0 0 30px -10px #a423ba;
}

/* Secondary Button --------------------------------------------------------------------------------------------------------------------------------- */
.secondary-button {
    background: white;
    color: var(--red);
}

.secondary-button:hover {
    box-shadow: 0 0 35px -10px #ffffff;
}

/* Third Button ------------------------------------------------------------------------------------------------------------------------------------- */
.third-button {
    background: transparent;
    border: var(--red) 3px solid;
    color: var(--red);

}

/* Language button --------------------------------------------------------------------------------------------------------------*/
.language-button {
    background-color: white;
    border-radius: 100px;
    border: none;
    color: #e93d57;
}

/* Switch button ----------------------------------------------------------------------------------------------------------------*/
input[type="checkbox"] {
    visibility: hidden;
    position: relative;
    height: 0px;
    width: 0px;
    justify-content: left;
}

label[for="switch"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 100px;
    position: relative;
}

label[for="switch"]:after {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 100px;
    transition: 0.5s;
}

input[type="checkbox"]:checked+label {
    background: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
}

input[type="checkbox"]:checked+label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

label[for="switch"]:active:after {
    width: 25px;
}