<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sandbox</title>
        <link rel="stylesheet" href="components.css">
    </head>

    <body>
        <div class="buttons">
            <!--           Main Button             -->
            <div>
                <button class="main-button orange-purple">Supercharged</button>
            </div>
            <!--               End                 -->

            <br>
            <!--      Main Button (gradient 2)     -->
            <div>
                <button class="main-button yellow-orange-purple">Supercharged</button>
            </div>
            <!--               End                 -->

            <!--           Second Button           -->
            <div>
                <button class="second-button orange">G8E</button>
            </div>
            <!--               End                 -->


            <!--      Second Button (color 2)      -->
            <div>
                <button class="second-button purple">G8E</button>
            </div>
            <!--               End                 -->

            <!--     Animated Gradient Button      -->
            <div class ="button-animated-gradient-body">
                <button class="button-animated-gradient">Woooaaaa</button>
                <button class="button-animated-gradient2">Woooaaaa</button>
            </div>
            <!--                End                -->

            <br><br><hr><br>

            <!--            Send button            -->
            <div id="container">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Send</span>
                </button>
            </div>
            <!--                End                -->

            <br><hr><br>

            <!--              Switch               -->
            <label class="switch">
                <input type="checkbox" checked="checked">
                <span class="slider round"></span>
            </label>
            <!--                End                -->

            <br><br><hr><br><br>

            <!--         Three state toggle        -->
            <div class="toggle-container">
                <input type="radio" id="radio1" name="toggle" value="1" style="--selected: 1">
                <label for="radio1">Option 1</label>
                <input type="radio" id="radio2" name="toggle" value="2" style="--selected: 2">
                <label for="radio2">Option 2</label>
                <input type="radio" id="radio3" name="toggle" value="3" style="--selected: 3">
                <label for="radio3">Option 3</label>
                <span class="toggle-state"></span>
              </div>              
            <!--                End                -->
        </div>
    </body>

</html>