@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.075, 0.8, 0.165, 1);
    --transition: cubic-bezier(0.075, 0.8, 0.165, 1);

    --main-gradient: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    --second-gradient: linear-gradient(100deg, #f7c23b 0%, #e93d57 50%, #a423ba 100%);
    --blue-gradient: linear-gradient(130deg, #BDEDF9 0.50%, #92E9FE 25%, #3361DA 90%);

    --black: #1c1a1a;
    --yellow: #f7c23b;
    --red: #e93d57;
    --purple: #a423ba;
    font-family: 'Poppins';
    
    --background-opacity: 0.75;
}

body {
    background-color: #1C1A1A;
    margin: 0;

}

.background1 {
    background: linear-gradient(100deg, rgba(28, 26, 26, var(--background-opacity)) 0.5%, rgba(233, 61, 87, var(--background-opacity)) 35%, rgba(164, 35, 186, var(--background-opacity)) 65%, rgba(28, 26, 26, var(--background-opacity)) 100%);
}

.background2 {
    background: linear-gradient(155deg, #1C1A1A 15%, #E93D57 30%, #A423BA 75%, #1C1A1A 90%);
}

/* Warning, this one may not work */
.background3 {
    background: radial-gradient(100% 50% at 50% 50%, #1C1A1A 1%, #E93D57 20%, #A423BA 90%, #1C1A1A 100%)
}

.background4 {
    background: conic-gradient(from 180deg at 50% 50%, #A423BA -25deg, #1C1A1A 75deg, #E93D57 165deg, #1C1A1A 235deg, #A423BA 345eg, #1C1A1A 425deg);
}



.main-button,
.secondary-button,
.third-button,
.language-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;

    font-size: clamp(.65em, 2vw, 1em);
    font-weight: 400;

    padding: clamp(0px, 1vw, 8px) clamp(10px, 2vw, 20px) clamp(3px, 1vw, 7px) clamp(10px, 2vw, 20px);
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
}

.main-button:hover,
.secondary-button:hover,
.third-button:hover,
.language-button:hover {
    transition: all 0.5s cubic-bezier(0.075, 0.8, 0.165, 1);
    transform: scale(1.1);
}

/* Main Button -------------------------------------------------------------------------------------------------------------------------------------- */
.main-button {
    background: var(--main-gradient);
    color: white;
}

.main-button:hover {
    box-shadow: 0 0 35px -10px #e93d57, 0 0 30px -10px #a423ba;
}

/* Secondary Button --------------------------------------------------------------------------------------------------------------------------------- */
.secondary-button {
    background: white;
    color: var(--red);
}

.secondary-button:hover {
    box-shadow: 0 0 35px -10px #ffffff;
}

/* Third Button ------------------------------------------------------------------------------------------------------------------------------------- */
.third-button {
    background: transparent;
    border: var(--red) clamp(2px, .5vw, 3px) solid;
    color: var(--red);

}

/* Language button --------------------------------------------------------------------------------------------------------------*/
.language-button {
    background-color: white;
    border-radius: 100px;
    border: none;
    color: #e93d57;
}

/* Switch button ----------------------------------------------------------------------------------------------------------------*/
input[type="checkbox"] {
    visibility: hidden;
    position: relative;
    height: 0px;
    width: 0px;
    justify-content: left;
}

label[for="switch"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 100px;
    position: relative;
}

label[for="switch"]:after {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 100px;
    transition: 0.5s;
}

input[type="checkbox"]:checked+label {
    background: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
}

input[type="checkbox"]:checked+label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

label[for="switch"]:active:after {
    width: 25px;
}

/* Adaptive margin ---------------------------------------------------------------------------------------------------------------------------------- */

.adaptive-margin {
    height: clamp(0em, calc(var(--coef) * 1vh), 20em);
}

/* Three state toggle switch ----------------------------------------------------------------------------------------------------*/
input[type="radio"] {
    display: none;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: clamp(1.25em, 2vw, 2em);
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.toggle-container label {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: clamp(.55em, 1vw, 1em);
    height: 100%;
    width: 33%;
    font-weight: 500;
    cursor: pointer;
    color: #1c1a1a;
    padding: clamp(.25em, 1vh, 1vh) clamp(.5em, 1vw, 1vw);
    white-space: nowrap;
}

input[type="radio"]:checked+label {
    background: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    color: white;
}

.toggle-state {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    transition: transform 1s ease-in-out;
    border-radius: 20px;
    transform: translateX(-100%);
}

input[type="radio"]:checked+label {
    background-color: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    color: white;
    animation: background-animation 1s ease-in-out forwards;
}

@keyframes background-animation {
    from {
        background-color: white;
    }

    to {
        background-color: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
    }
}

.toggle-container:hover {
    transform: scale(1.04);
}