@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;

}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 10px;
  flex-direction: column;
  padding: 5%;
  text-align: left;
}

/* Buttons set up */
.main-button,
.second-button,
.button-animated-gradient,
.button-animated-gradient2,
input + .slider,
button,
.language-button {
  position: relative;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 1em;
  justify-content: center;  
  align-items: center;
  padding: 0.5em 1.25em;
  border-radius: 100px;
  color: #ffffff;
}

/* Buttons animations on hover */
.main-button:hover,
.second-button:hover,
.button-animated-gradient:hover,
.button-animated-gradient2:hover,
.language-button:hover {
  transition: all 0.5s cubic-bezier(0.075, 0.8, 0.165, 1);
  transform: scale(1.125);
  cursor: pointer;
}

/* Main Button ------------------------------------------------------------------------------------------------------------------ */
.main-button {
  color: white;
  border: none;
  width: fit-content;

}

/* gradient 1 */
.main-button.orange-purple {
  background: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
}

/* gradient 2 */
.main-button.yellow-orange-purple {
  background: linear-gradient(100deg, #f7c23b 0%, #e93d57 50%, #a423ba 100%);
}

.main-button.orange-purple:hover {
  box-shadow: 0 0 40px -10px #e93d57, 0 0 40px -10px #a423ba;
}

.main-button.yellow-orange-purple:hover {
  box-shadow: 0 0 40px -10px #f7c23b, 0 0 40px -10px #e93d57,
    0 0 40px -5px #a423ba;
}

/* Second Button ---------------------------------------------------------------------------------------------------------------- */
.second-button {
  position: relative;
  border: 0.2em;
  border-style: solid;
  text-align: center;
  background: transparent;
  width: fit-content;
  align-items: center;
}

/* gradient 1 */
.second-button.orange {
  border-color: #e93d57;
  color: #e93d57;
}

/* gradient 2 */
.second-button.purple {
  border-color: #a423ba;
  color: #a423ba;
}

.second-button.orange:hover {
  box-shadow: 0 0 40px -5px #e93d57;
}

.second-button.purple:hover {
  box-shadow: 0 0 40px -5px #a423ba;
}

/* Animated gradient button ----------------------------------------------------------------------------------------------------- */
.button-animated-gradient-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-animated-gradient,
.button-animated-gradient2 {
  background: linear-gradient(-45deg, #f7c23b, #e93d57, #3361da, #92e9fe);
  background-size: 1000%;
  -webkit-animation: anime 12s ease-in-out infinite;
  animation: anime 12s ease-in-out infinite;
  border: none;
}

.button-animated-gradient2 {
  position: absolute;
  z-index: -1;
  filter: blur(35px);
  opacity: 1;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Sending button --------------------------------------------------------------------------------------------------------------- */
input[type="checkbox"] {
  visibility: hidden;
  position: relative;
  height: 0px;
  width: 0px;
  justify-content: left;
}

label[for="switch"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  position: relative;
}

label[for="switch"]:after {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 100px;
  transition: 0.5s;
}

input[type="checkbox"]:checked + label {
  background:  linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
}

input[type="checkbox"]:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

label[for="switch"]:active:after {
  width: 25px;
}

/* Three state toggle switch ----------------------------------------------------------------------------------------------------*/
input[type="radio"] {
  display: none;
}

.toggle-container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.toggle-container label {
  font-family: Marianne;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 100%;
  cursor: pointer;
  color: #1c1a1a;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="radio"]:checked + label {
  background: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
  color: white;
}

.toggle-state {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  transform: translateX(-100%);
}

input[type="radio"]:checked + label {
  background-color: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
  color: white;
  animation: background-animation 0.5s ease-in-out forwards;
}

@keyframes background-animation {
  from {
    background-color: white;
  }

  to {
    background-color: linear-gradient(100deg, #e93d57 10%, #a423ba 100%);
  }
}

/* Language button --------------------------------------------------------------------------------------------------------------*/
.language-button {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 100px;
  border: none;
  color: #e93d57;
  align-items: center;
  text-align: center;
}
