
/* Assistance Card ---------------------------------------------------------------------------------------------------------------------------------- */
.assistance-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    width: clamp(20em, 75vw, 75%);
    height: fit-content;
    max-height: 8em;
    border-radius: 15px;
    padding: 1.75em 2em 2em 2em;
    margin-top: 5em;
    margin-bottom: 2em;
    background-color: rgb(255, 255, 255, 0.25);
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    text-align: left;
    
    width: 100%;
    height: 100%;
    gap: .5vh;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    
    width: 25%;
    height: 100%;
}

.assistance-icon {
    width: clamp(3em, 10vw, 6em);
    height: 100%;
    justify-content: right;
}

.assistance-card:hover {
    transform: scale(1.02);
    background-color: rgb(255, 255, 255, .15);
}

/* Feedback Card ------------------------------------------------------------------------------------------------------------------------------------ */

.feedback-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;

    height: fit-content;
    width: clamp(20em, 75vw, 75%);
    padding: 2em;
    border-radius: 15px;

    background-color: rgb(0, 0, 0, .25);
}

.feedback-card h1, .feedback-card p {
    height: min-content;
}

.title-field {
    width: 100%;
    height: clamp(1.5em, 5vw, 2.5em);
    padding-left: 1em;
    border-radius: clamp(.5em, 1vw, .75em);
    border: none;

    background-color: rgb(255, 255, 255, .4);
    font-size: clamp(.75em, 1.5vw, 1.2em);
    color: white
}

.text-field {
    width: 100%;
    height: clamp(5em, 20vh, 10em);
    padding: 1em;
    border-radius: clamp(.5em, 1vw, .75em);
    border: none;

    background-color: rgb(255, 255, 255, .4);
    font-size: clamp(.75em, 1.5vw, 1em);
    color: white;
    resize: none;
}

.title-field:focus, .text-field:focus {
    outline: white solid clamp(.1em, 1vw, .2em);
    border-radius: clamp(1em, 2vw, 1.5em);
    padding-left: 2em;
}

.title-field::placeholder, .text-field::placeholder {
    color: rgb(255, 255, 255, .75);
}

.title-field:hover, .text-field:hover {
    background-color: rgb(255, 255, 255, .3);
    /*transform: scale(1.01);*/
} 

.buttons-area {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 2em;
    padding-right: 5px;
}

.error-message {
    color: var(--red);
    font-size: clamp(.5em, 1vw, 1em);
    margin-left: 1.5em;
}

.animation-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
    margin-left: 37%;
    padding-top: 10em;
    margin-bottom: -10em;
}

.animatinon {
    position: relative;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {

    .animation-wrapper {
        margin-left: 33%;
        width: 30%;
        height: 30%;
        padding-top: 6em;
        margin-bottom: -5em;
    }
}

@media screen and (max-width: 768px) {

    .animation-wrapper {
        margin-left: 33%;
        width: 35%;
        height: 35%;
        padding-top: 6em;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 450px) {

    .animation-wrapper {
        margin-left: 27%;
        width: 50%;
        height: 50%;
        padding-top: 6em;
        margin-bottom: 0;
    }
}

    