h3 {
    min-width: 7em;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    padding-bottom: 5%;
    gap: 3vh;
}

.details {
    width: fit-content
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: fit-content;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
    height: fit-content;
    width: 100%;
    padding: 2vh clamp(1em, 1vw, 2vw) 2vh clamp(1em, 1vw, 2vw);
    gap: 3%;
    border-radius: 15px;

    background: rgb(0, 0, 0, 0.25);
    color: white;
}

.card-icon{
    height: clamp(1.5em, 2.5vw, 4em);
    width: clamp(1.5em, 2.5vw, 4em);
}

.small {
    height: clamp(1em, 1.5vw, 2em);
    width: clamp(1em, 1.5vw, 2em);
}

.to-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
}

.clickable:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.not-clickable{
    cursor: not-allowed;
    opacity: 0.5;
}

#account-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 1em;
}


/* Responsive --------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .wrapper {
        padding: 0 4% 0 4%;
    }

    .card-wrapper {
        width: 80%;
    }

}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 3% 0 3%;
    }

    .card-wrapper {
        width: 85%;
    }

}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 2% 0 2%;
    }

    .card-wrapper {
        width: 90%;
    }
}

