body {
    background-image: url("/public/svg/account/login-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: clamp(25em, 50%, 60em);
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
    margin: 0;
    overflow: hidden;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Card body -------------------------------------------------------------------------------------------------------------------- */
.login-card {
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    margin-top: clamp(0em, 5vw, 5em);
    background: rgb(28, 26, 26, 0.5);
    border-radius: 25px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    margin: clamp(2em, 4vw, 4em);
    gap: 1vh;
}

/* Card Text -------------------------------------------------------------------------------------------------------------------- */
.login-text {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: clamp(1em, 3vw, 3em);
    justify-content: space-between;
    height: 3em;
}

.section {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
}

.section-img {
    height: 35em;
    border-radius: 15px;
    margin: clamp(2em, 4vw, 4em);
    padding: 0;
}


/* Form Components -------------------------------------------------------------------------------------------------------------------- */
.login-field {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

/* Input field */
.login-field input {
    font-size: 1rem;
    line-height: 2.25em;
    width: 100%;
    border-radius: clamp(.5em, 1vw, .65em);
    padding-left: 20px;
    outline: none;
    border: none;
    background: rgb(255, 255, 255, 0.5);
    margin-bottom: 2vh;
}

.login-field input::placeholder {
    font-family: inherit;
    color: white;
    opacity: 0.75;
}

.login-field input:focus {
    outline: white solid clamp(.1em, 1vw, .2em);
    border-radius: 50px;
    padding-left: 2em;
}

.login-field input:focus::placeholder {
    opacity: 0;
}

.login-field input:hover {
    scale: 1.03;
}

.warning-message {
    color: var(--red);
    font-size: 0.85em;
    margin-left: 1.5em;
    margin-bottom: .5em;
    margin-top: -1.5em;
    width: 100%;
}

.buttons-area {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: right;
    margin-top: 1vh;
}

.buttons-area .secondary-button {
    margin-right: 1.5rem;
}

/* Show Password  --------------------------------------------------------------------------------------------------------------- */

label[for="show-password-input"] {
    cursor: pointer;
    width: clamp(40px, 4vw, 50px);
    height: clamp(20px, 2vw, 25px);
    background: grey;
    border-radius: 100px;
    position: relative;
}

label[for="show-password-input"]:after {
    content: "";
    position: absolute;
    top: clamp(3px, -.25vw, 4px);
    left: 3px;
    width: clamp(15px, 2vw, 20px);
    height: clamp(15px, 2vw, 20px);
    background: #ffffff;
    border-radius: 100px;
    transition: 0.5s;
}

label[for="show-password-input"]:active:after {
    width: clamp(20px, 2vw, 25px);
}

/* Responsive ------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {

    .section {
        display: contents;
    }

    .section-img {
        display: none;
        width: 0;
        margin: 0;
        padding: 0;
    }

    .login-card {
        width: 50%;
        margin-top: 1vh;
    }
}

@media screen and (max-width: 750px) {

    .login-card {
        width: 80%;
        margin-top: 3vh;
    }

    .buttons-area {
        flex-direction: column-reverse;
        gap: 1em;
        margin-top: 2vh;
    }

    .main-button,
    .secondary-button {
        width: 100%;
        height: 2.25em;
        font-size: .85rem;
    }
}

@media screen and (max-width: 500px) {

    .login-card {
        margin-top: -10vh;
    }

}