
.animation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.email-animation {
    width: 40%;
    margin-top: -2vh;
    margin-bottom: -2vh;
}