
/* Password strength indicator ----------------------------------------------------------------------------------------------------------------------*/
.strength-indicator{
  margin-top: -2em;
}

meter {
  margin-top: 1.5em;
  margin-left: 1.1em;
  width: 90%;
  height: 1em;
  border-radius: 100px;
  border: none;
  background: rgba(0, 0, 0, 0);
}

meter::-webkit-meter-bar {
  background: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value,
meter[value="2"]::-webkit-meter-optimum-value {
  background: var(--main-gradient);
}

meter[value="3"]::-webkit-meter-optimum-value,
meter[value="4"]::-webkit-meter-optimum-value {
  background: var(--blue-gradient);
}

meter[value="0"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar,
meter[value="2"]::-moz-meter-bar {
  background: var(--main-gradient);
}

meter[value="3"]::-moz-meter-bar,
meter[value="4"]::-moz-meter-bar  {
  background: var(--blue-gradient);
}

.strength-indicator p {
  color: white;
  font-size: .85em;
  font-weight: 300;
  margin-left: 2em;
  margin-top: -0.25em;
  margin-bottom: 2em;
}

.feedback {
  color: white;
  font-size: 1em;
  padding: 0 .25em;
  margin-top: 1em;
}

meter::-webkit-meter-optimum-value {
  transition: width .5s ease-out; 
}

#confirm-password {
  margin-top: -1em;
}

/* show password ----------------------------------------------------------------------------------------------------------------------*/
.stay-connected, .show-password{
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

input[type="checkbox"] {
  justify-content: left;
}

input[type="checkbox"]+label {
  scale: 0.70;
  width: 3em;
  min-width: 3em;
  margin-left: -.75em;
  margin-top: -.1em;
}

input[type="checkbox"]:hover+label {
  scale: .85;
}

.show-password{
  margin-top: 1em;
  margin-bottom: .25em;
}

.connected-text {
  color: white;
  font-size: 0.85em;
  margin-left: .5em;
}

